@model Tracktor.Web.ViewModels.User.LogInVM

@{
    ViewBag.Title = "Log In";
}

<div class="row">
    <div class="col-xs-5">
        <h3 style="text-align: center">Log in</h3>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <input type="submit" value="Log in" class="btn btn-primary" style="width: 100%" />
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-xs-7">
        <h3 style="text-align: center">Tracktor</h3>
        <hr />
        <p>
            Platforma za dijeljenje informacija u ovisnosti o geografskoj lokaciji. Korisnici mogu dodavati nove
            informacije, komentare na informacije i lokacije. Mogu oznacavati neke lokacije kao favorite. Mogu oznacavati
            komentare i informacije kao istinite ili lazne. Mogu pregledavati informacije i komentare.
        </p>

        <p>Postoje i sponzorirani korisnici koji mogu postaviti informaciju sa vremenskim odmakom ili duljim trajanjem</p>

        <p><b>Clanovi</b></p>
        <ul>
            <li>Matija Herceg</li>
            <li>Leonard Volarich Horvat</li>
            <li>Jan Kelemen</li>
            <li>Marko Stanic</li>
            <li>Roko Zubcic</li>
        </ul>
    </div>
</div>